$font-stack:   'Montserrat', sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #e4e5e7;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

.header {
	height: 147px;
	background-color: white;
	padding: 30px 0px;
}

.logo {
	width: 177px;
	height: 37px;
	background: url("../img/logo.png") no-repeat center;
}

.menuIcon {
	margin-top: 10px;
	width: 22px;
	height: 16px;
	background: url("../img/MenuIcon.png") no-repeat center;
}

.menu {
	padding-top: 10px;
}

.menu__item {
	float: left;
	margin-left: 42px;
	font-size: 14px;
	font-weight: 700;
}

.menu__item:hover {
	color: #b9bed1;
}

.cart__icon {
	float: left;
	margin-top: 10px;
	width: 22px;
	height: 20px;
	background: url("../img/cartIcon.png") no-repeat center;
}

.cart__text {
	margin-top: 12px;
	margin-left: 8px;
	font-size: 11px;
	font-weight: 700;
	float: left;
}

.cart__counter {
	margin-top: 7px;
	margin-left: 8px;
	font-size: 11px;
	font-weight: 700;
	padding: 5px 7px;
	float: left;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	background-color: #e3e8f0;
}

.signInButton {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 700;
	padding: 7px 0px;
	width: 85px;
	height: 32px;
	border-radius: 16px;
	background-color: #ffffff;
	border: 2px solid #e3e8f0;
}

.signInButton:hover { 
	color: #b9bed1;
}

.devider {
	margin-top: 30px;
	height: 1px;
	background-color: #f0f2f7;
}

.footer-menu {
	
}

.footer-menu__item {
	margin-top: 17px;
	float: left;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 1px;
	color: #b9bed1;
	font-weight: 700;
	margin-right: 30px;
}

.footer-menu__item:hover {
	color: #343e5c;
}

.footer-bar {
}

.footer-bar__icon {
	margin-top: 15px;
	float: left;
	width: 17px;
	height: 17px;
	background: url("../img/SearchIcon.png") no-repeat center;
}

.footer-bar__input {
	margin-top: 12px;
	margin-left: 4px;
	outline: none;
	border: none; 
}

.footer-bar__input::placeholder { 
	font-size: 14px;
	color: #a1a8bd;
	font-weight: 800;
}

.main-content {
	margin-top: 50px;
	margin-bottom: 50px;
}

.main-content__table {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-content__table table{
	margin: 0px auto;
}

th {
	width: 250px;
	border: 1px solid #dfe4ee;
	background-color: #f0f2f7;
}

td {
	width: 250px;
	border: 1px solid #dfe4ee;
}

.footer {
	height: 300px;
	background-color: #222328;
}

.footer__logo {
	margin-top: 60px;
	width: 177px;
	height: 37px;
	background: url("../img/logoFooter.png") no-repeat center;
}

.footer__menu {
	margin-top: 60px;
	margin-left: 92px;
}

.item {
	text-transform: uppercase;
	margin-left: 25px;
		margin-top: 5px;
		float: left;
		font-size: 12px;
		color: #ffffff;
		font-weight: 700;
}

.item:hover {
	color: #b9bed1;
}

.social {
	margin-top: 60px;
	margin-left: 20px;
}

.social__icon_facebook {
	width: 24px;
	height: 24px;
	background: url("../img/FacebookIcon.png") no-repeat center;
	float: left;
}

.social__icon_twitter {
	margin-left: 33px;
	width: 24px;
	height: 24px;
	background: url("../img/TwitterIcon.png") no-repeat center;
	float: left;
}

.social__icon_google {
	margin-left: 33px;
	width: 26px;
	height: 24px;
	background: url("../img/G+Icon.png") no-repeat center;
	float: left;
}

.pages {
	margin-top: 30px;
}

.pages__center-block {
	height: 90px;
	border-radius: 5px;
	background-color: #ffffff;
}

.prev-icon {
	margin-left: 96px;
	margin-top: 39px;
	width: 10px;
	height: 14px;
	background: url("../img/PrevIcon.png") no-repeat center;
	float: left;
}

.page-numbers {
	position: relative;
	margin-left: 300px;
}

.number-selected {
	position: absolute;
	left: 117px;
	top: 20px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	filter: drop-shadow(0px 20px 20px rgba(168,172,185,0.62));
	background-color: #ffffff;
	z-index: 2;
	opacity: 70%;
}

.next-icon {
	margin-left: 150px;
	margin-top: 39px;
	width: 10px;
	height: 14px;
	background: url("../img/NextIcon.png") no-repeat center;
	float: left;
}

.page-number {
	margin-right: 62px;
	font-size: 14px;
	color: #3a405b;
	font-weight: 700;
	text-align: right;
	float: left;
	margin-top: 38px;
	z-index: 4;
}

