body {
  font: 100% "Montserrat", sans-serif;
  color: #333;
  background-color: #e4e5e7;
}

.header__content {
  height: 105px;
  background-color: white;
  padding: 30px 0px;
}

.filter__content {
  height: 50px;
  background-color: white;
  margin-bottom: 50px;
}

.menu {
  margin-bottom: 20px;
  background-color: white;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #000;
}

.logo {
  width: 177px;
  height: 37px;
/*background: url("../img/logo.png") no-repeat center; */
}

.cards__content {
  margin-bottom: 50px;
}

.menuIcon {
  margin-top: 10px;
  width: 22px;
  height: 16px;
  background: url("/MenuIcon.png") no-repeat center;
}

.menu {
  padding-top: 10px;
}

.menu__item {
  float: left;
  margin-left: 42px;
  font-size: 14px;
  font-weight: 700;
}

.menu__item:hover {
  color: #b9bed1;
}

.cart__icon {
  float: left;
  margin-top: 10px;
  width: 22px;
  height: 20px;
  background: url("./cartIcon.png") no-repeat center;
}

.cart__text {
  margin-top: 12px;
  margin-left: 8px;
  font-size: 11px;
  font-weight: 700;
  float: left;
}

.cart__counter {
  margin-top: 7px;
  margin-left: 8px;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 7px;
  float: left;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e3e8f0;
}

.signInButton {
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 7px 0px;
  width: 85px;
  height: 32px;
  border-radius: 16px;
  background-color: #ffffff;
  border: 2px solid #e3e8f0;
}

.signInButton:hover {
  color: #b9bed1;
}

.devider {
  height: 1px;
  background-color: #f0f2f7;
}

.footer-menu__item {
  margin-top: 17px;
  float: left;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #b9bed1;
  font-weight: 700;
  margin-right: 30px;
}

.footer-menu__item:hover {
  color: #343e5c;
}

.footer-bar__icon {
  margin-top: 15px;
  float: left;
  width: 17px;
  height: 17px;
/*background: url("../img/SearchIcon.png") no-repeat center;*/
}

.footer-bar__input {
  margin-top: 12px;
  margin-left: 4px;
  outline: none;
  border: none;
}

.footer-bar__input::placeholder {
  font-size: 14px;
  color: #a1a8bd;
  font-weight: 800;
}

.filter__item {
  font: 100% "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #b9bed1;
  font-weight: 700;
}

.ui.secondary.menu .item {
  font: 100% "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  color: #b9bed1;
  font-weight: 700;
}

.main-content__table {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-content__table table {
  margin: 0px auto;
}

.main-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

th {
  width: 250px;
  border: 1px solid #dfe4ee;
  background-color: #f0f2f7;
}

td {
  width: 250px;
  border: 1px solid #dfe4ee;
}

.footer {
  height: 150px;
  background-color: #222328;
}

.footer__logo {
  margin-top: 60px;
  width: 177px;
  height: 37px;
  background: url("./logoFooter.png") no-repeat center;
}

.footer__menu {
  margin-top: 60px;
  margin-left: 92px;
}

.item {
  text-transform: uppercase;
  margin-left: 25px;
  margin-top: 5px;
  float: left;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
}

.item:hover {
  color: #b9bed1;
}

.social {
  margin-top: 60px;
  margin-left: 20px;
}

.social__icon_facebook {
  width: 24px;
  height: 24px;
  background: url("./FacebookIcon.png") no-repeat center;
  float: left;
}

.social__icon_twitter {
  margin-left: 33px;
  width: 24px;
  height: 24px;
  background: url("./TwitterIcon.png") no-repeat center;
  float: left;
}

.social__icon_google {
  margin-left: 33px;
  width: 26px;
  height: 24px;
  background: url("./G+Icon.png") no-repeat center;
  float: left;
}

#head {
	background: url("./background.png") no-repeat center center;
	height: 680px;
  padding-top: 204px;
}

.title {

}

.title__text_large {
	font-size: 90px;
	letter-spacing: 41px;
	line-height: 82px;
	color: rgb(255,255,255);
	font-family: "Montserrat";
	text-align: center;
}

.title__text_small {
	margin-top: 15px;
	font-size: 55px;
	letter-spacing: 10px;
	line-height: 82px;
	color: rgb(255,255,255);
	font-family: "Montserrat";
	text-align: center;
  text-transform: uppercase;
}

.title__arrow {
	margin: 0px auto;
	margin-top: 150px;
	width: 45px;
	height: 45px;
	border-radius: 23px;
	border: 1px solid #ffffff;
	color: white;
	font-size: 20px;
	padding: 9px 4px;
}

#advantages {
	height: 642px;
}

.advantages__title {
	font-size: 42px;
	letter-spacing: 4px;
	line-height: 17px;
	color: rgb(0,0,0);
	text-align: center;
	margin-top: 98px;
}

.advantage {
	margin-top: 71px;
	padding-top: 57px;
	height: 357px;
	box-shadow: 1px 1.732px 4px rgba(149,147,147,0.33);
	background-color: #f4f4f4;
}

.advantage__image_hand {
	height: 78px;
	width: 100px;
	margin: 0px auto;
	background: url("./Hand.png") no-repeat center center;
}

.advantage__image_property {
	height: 78px;
	width: 100px;
	margin: 0px auto;
	background: url("./EditProperty.png") no-repeat center center;
}

.advantage__image_conference {
	height: 78px;
	width: 100px;
	margin: 0px auto;
	background: url("./Conference.png") no-repeat center center;
}

.advantage__title {
	margin-top: 28px;
	font-size: 20px;
	letter-spacing: 2px;
	line-height: 17px;
	text-align: center;
}

.advantage__title:after {
	content: '';
	display: block;
	width: 37px;
	height: 1px;
	background-color: #000000;
	opacity: 20%;
	margin: 0px auto;
	margin-top: 20px;
}

.advantage__text {
	margin: 0px auto;
	margin-top: 20px;
	width: 292px;
	font-size: 17px;
	line-height: 22px;
	color: black;
	font-family: "Montserrat";
	text-align: center;
}
